---

import TableOfContent from '../components/TableOfContent.tsx'
import '../global.css';
import {Search} from '../components/Search.tsx'
export interface Props {
	title: string;
}

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;

const allArticles =
    (await Astro.glob<Article>('../pages/posts/*.mdx'))
    .map((article) => ({
        ...article.frontmatter,
        url: article.url,
        dates: { published: new Date(article.frontmatter.dates.published as unknown as string) } 
    }));

const articlesInSearchForm = allArticles
    .map<SearchDefinition>((article) => ({
        primary: article.title,
        secondary: article.description,
        tertiary:article.categories,
        url: article.url
    }));
---

<!DOCTYPE html>
<html lang="en" data-color-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
    <link rel="stylesheet" type="" href="/css/github-theme.css">

 <link
      href="https://fonts.googleapis.com/css2?family=Cousine&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
	</head>
	<body>
  <div class="wrapper joder">

     <TableOfContent client:load/>
    <div class="overflow-h">

<h1>{minutesRead}</h1>
        <Search
    client:idle
    list={ articlesInSearchForm } />
		  <slot />
     </div>   
  </div>

  <script src="/scripts/addLineHighlight.js" defer></script>
  <script src="/scripts/addCopyButton.js" defer></script>
	</body>
</html>
<style is:global>
.overflow-h{
  overflow:hidden;
}
  
</style>
